.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.homeButton {
    background-color: #5FDC0C;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.1rem;

}