.title {
    text-align: right;
    font-size: 32px;
    margin-top: 0;
}

.bodyText {
    text-align: left;
    width: 80%;
    margin-top: 0;
    font-size: 20px;
}

.bolded {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
}

ul {
    font-size: 20px;
    width: 80%;
}

 @media (max-width: 600px) {
    .title {
        font-size: 24px;
    }

    .bodyText {
        font-size: 16px;
        width: 100%;
    }

    .bolded {
        font-size: 20px;
    }

    ul {
        font-size: 16px;
    }
 }