.form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.names {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nameDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.field {
    background-color: #FFF;
    color: #151515;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
    padding: 1rem 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: end;
}

.submitButton {
    width: 40%;
    color: #FFF;
    background-color: #5FDC0C;
    border: none;
    border-radius: 15px;
    padding: 0.8rem;
    margin-top: 15px;
    justify-self: end;
}

.submitButton:hover {
    background-color: #54bb10;
}

.input-err {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 16px;
    margin-top: 0.2rem;
}