.headerDiv {
    background: linear-gradient(180deg, #000, #151515);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 140px;
}

.list {
    visibility: visible;
    margin-block-start: 0em;
    padding-top: 2rem;
    padding-right: 4rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    gap: 4rem;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 600px) {
    .headerDiv {
        height: 80px!important;
    }

    .list {
        gap: 0.5rem;
        text-align: right;
        padding-right: 2rem;
        visibility: visible;
        justify-content: space-between;
        width: 60%;
    }

    .list a {
        font-size: 22px;
    }
}